{% load static %}
<style> .edit-button {
    display: inline-block;
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left:145px;
    margin-right:auto;
}
.delete-button {
    display: inline-block;
    background-color: Red; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left:auto;
    margin-right:auto;
}
.edit-button:hover {
    background-color: #45a049; /* Darker Green */
}
</style>


{% if user.is_authenticated %}
{% if user.is_admin %}
       <!-- Add admin-specific content here -->
       <section id="main">
        <!--showcase----------------------->
        <!--heading------------->
        <h1 class="showcase-heading">Showcase</h1>
    
        <ul id="autoWidth" class="cs-hidden">
            {% for showcase in admin_showcase %}
            <!--box-1--------------------------->
            <li class="item-a">
                <!--showcase-box------------------->
                <div class="showcase-box">
                    <a href="{%url 'admin_views_showcase' showcase.id%}">
    
                    <img src="{{ showcase.imageURL }}" />
                </div>
            </a>
    
                <a href="{% url 'admin_update_showcase' showcase.id %}" class="edit-button">Edit</a>
                <a href="{% url 'admin_delete_showcase' showcase.id %}" class="delete-button">Delete</a>
    
            </li>
            {% endfor %}
        </ul>
    
    </section>
    {% elif user.is_user %}
    <section id="main">
        <!--showcase----------------------->
        <!--heading------------->
        <h1 class="showcase-heading">Showcase</h1>
    
        <ul id="autoWidth" class="cs-hidden">
            {% for showcase in admin_showcase %}
            <!--box-1--------------------------->
            <li class="item-a">
                <!--showcase-box------------------->
                <div class="showcase-box">
                    <a href="{%url 'views_show' showcase.id%}">
    
                    <img src="{{ showcase.imageURL }}" />
                </div>
            </a>
    
             
    
            </li>
            {% endfor %}
        </ul>
    
    </section>

{%else%}


{% endif %}
<!-- Common content for authenticated users -->
{% else %}
 
{% endif %}

